*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-family);
}

.card{
    --card-width: min(96vw, 1200px);
    --card-margin: 1rem auto 2.5rem auto;
    width: var(--card-width);
    margin: var(--card-margin);
    background-color: var(--card-color);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--card-border-color);
}

.card-header{
    padding: 1rem;
    padding-left: clamp(5px, 5vw, 1.8rem);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .6rem;
    border-bottom: 1px solid var(--card-border-color);
}

h2{
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.card-header menu{
    display: flex;
}

button{
    outline: none;
    cursor: pointer;
}

.btn{
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: box-shadow .15s,
        background-color .2s;
}

.btn i{
    margin-right: 0.5em;
    font-size: 1em;
}  

.btn:focus{
    box-shadow: 0 0 0 .25em var(--primary-button-border-color);
}

.btn:hover{
    background-color: var(--primary-button-hover-color);
}

.btn:disabled{
    background-color: var(--primary-button-disabled-color);
    cursor: default;
}

#expand-tracks-btn span{
    display: none;
    align-items: center;
}

#expand-tracks-btn:not(.expanded) .show-more{
    display: inline-flex;
}

#expand-tracks-btn.expanded .show-less{
    display: inline-flex;
}

#visualization-content{
    display: flex;
    flex-wrap: wrap;
}

svg{
    flex: 6 2 725px;
    display: block;
    padding: clamp(.5rem, 2vw, 1.5rem);
    box-sizing: border-box;
}

svg.expanded{
    flex-basis: 100%;
    padding-bottom: 0px;
}

svg .background{
    fill: #f2f2f2;
    rx: 20px;
    ry: 20px;
}

@media(max-width: 600px){
    svg{
        padding: 0;
        margin-bottom: .8rem;
    }

    svg .background{
        fill: #f2f2f2;
        rx: 0px;
        ry: 0px;
    }
}

#sender-window, #receiver-window{
    display: none;
    fill: #fcb0b0;
    stroke: #f96060;
    stroke-width: 6px;
    rx: 10px;
    ry: 10px;
}

.node-tag{
    font-weight: bolder;
    font-size: 125px;
    fill: #e0e0e0;
}

legend{
    flex: 2 2 375px;
    display: block;
    color: var(--text-color);
    padding: 2rem clamp(5px, 5vw, 2rem);
    padding-top: min(2.5vw, 2rem);
}

legend h3{
    font-size: 1.75rem;
    --tag-color: blue;
    margin-bottom: 1rem;
}

legend li{
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    display: flex;
}

legend li::before{
    flex-shrink: 0;
    content: "";
    width: 2rem;
    height: 1.25rem;
    border-width: .25rem;
    border-style: solid;
    border-radius: .4rem;
    margin-right: 1rem;
}

/* Legend colors **/
legend li.legend-not-received::before{
    background-color: #D7D9DB;
    border-color: #B0B3B7;
}

legend li.legend-buffered::before{
    background-color: #B2D0F9;
    border-color: #65A2F4;
}

legend li.legend-confirmed::before{
    background-color: #F8F380;
    border-color: #F1E800;
}

legend li.legend-acknowledgment-or-received::before{
    background-color: #9CD8A2;
    border-color: #3AB146;
}

legend li.legend-next-sequence-timer::before{
    background-color: #FDCB80;
    border-color: #FC9700;
}

legend li.legend-window::before{
    background-color: #FCB0B0;
    border-color: #F96060;
}

legend li.legend-timeout::before{
    background-color: #E78CF6;
    border-color: #CF1AED;
}

legend li.legend-damaged-packet::before{
    background-color: #AE9F9B;
    border-color: #5D4037;
}
