@import "../common.css";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-family);
}

.card-header{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .6rem;
}

h2{
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.card-header menu{
    display: flex;
}

.btn i{
    font-size: 1em;
}

#toggle-expand-btn span{
    display: none;
    align-items: center;
}

#toggle-expand-btn:not(.expanded) .show-more{
    display: inline-flex;
}

#toggle-expand-btn.expanded .show-less{
    display: inline-flex;
}

#visualization-content{
    display: flex;
    flex-wrap: wrap;
}

#root-svg{
    align-self: flex-start;
    flex: 6 2 725px;
    display: block;
    padding: clamp(.5rem, 2%, 1.5rem);
    box-sizing: border-box;
}

#root-svg.expanded{
    flex-basis: 100%;
    padding-bottom: 0px;
}

#background-svg{
    fill: #f2f2f2;
    rx: 20px;
    ry: 20px;
}

@media(max-width: 600px){
    #root-svg{
        padding: 0;
        margin-bottom: .8rem;
    }

    #background-svg{
        fill: #f2f2f2;
        rx: 0px;
        ry: 0px;
    }
}

#sliding-view, #sliding-view-content{
    overflow: visible;
    x: 0px;
}

#sender-window, #receiver-window{
    display: none;
    fill: #fcb0b0;
    stroke: #f96060;
    stroke-width: 6px;
    rx: 10px;
    ry: 10px;
}

.node-tag{
    font-weight: bolder;
    font-size: 125px;
    fill: #e0e0e0;
}

legend{
    flex: 2 2 375px;
    display: block;
    color: var(--text-color);
    padding: 2rem clamp(5px, 5%, 2rem);
    padding-top: min(2.5%, 2rem);
}

legend h3{
    font-size: 1.75rem;
    --tag-color: blue;
    margin-bottom: 1rem;
}

legend li{
    list-style: none;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    display: flex;
}

legend li::before{
    flex-shrink: 0;
    content: "";
    width: 2rem;
    height: 1.25rem;
    border-width: .25rem;
    border-style: solid;
    border-radius: .4rem;
    margin-right: 1rem;
}

/* Legend colors **/
legend .not-received::before{
    background-color: #D7D9DB;
    border-color: #B0B3B7;
}

legend .buffered::before{
    background-color: #B2D0F9;
    border-color: #65A2F4;
}

legend .confirmed::before{
    background-color: #F8F380;
    border-color: #F1E800;
}

legend .ack-or-received::before{
    background-color: #9CD8A2;
    border-color: #3AB146;
}

legend .next-sequence-timer::before{
    background-color: #FDCB80;
    border-color: #FC9700;
}

legend .window::before{
    background-color: #FCB0B0;
    border-color: #F96060;
}

legend .timeout::before{
    background-color: #E78CF6;
    border-color: #CF1AED;
}

legend .damaged::before{
    background-color: #AE9F9B;
    border-color: #5D4037;
}

legend .cumulative-ack::before{
    background-color: #80DFD2;
    border-color: #00BFA5;
}
