@import "../common.css";

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-family);
}

h2.card-header{
    font-size: 2rem;
    color: var(--text-color);
    align-items: center;
}

#stats-content{
    padding: clamp(1rem, 3%, 2rem);
    padding-bottom: 2rem;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

#table-figure{
    flex: 1 1 350px;
}

table{
    width: 100%;
    font-size: 1.25rem;
    --cell-border-width: 3px;
    border-spacing: var(--cell-border-width);
}

th, td{
    padding: .5em;
}

th{
    background-color: #B2D0F9;
    color: #2F80ED;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 var(--cell-border-width) #2F80ED;
}

th:first-child{
    border-top-left-radius: 5px;
}

th:last-child{
    border-top-right-radius: 5px;
}

td{
    background-color: #F2F2F2;
    color: #4f4f4f;
    box-shadow: 0 0 0 var(--cell-border-width) #828282;
}

td abbr{
    text-decoration-color: #2F80ED;
}

td:first-child{
    max-width: 350px;
}

td:last-child{
    max-width: 350px;
    width: 40%;
    text-align: center;
}

tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}

#chart-figure{
    flex-grow: 1;
    width: 500px;
    background-color: #F2F2F2;
    align-self: flex-start;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
}

#chart-figure figcaption{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

#chart-container{
    width: 100%;
    position: relative;
}
