/* Packet styles */
.pkt{
    rx: 10px;
    ry: 10px;
    stroke-width: 6px;
}

.traveling{
    cursor: pointer;
    /* Visibility will be controlled by the animation */
    visibility: hidden;
}

.not-received{
    fill: #D7D9DB;
    stroke: #B0B3B7;
}

.buffered{
    fill: #B2D0F9;
    stroke: #65A2F4;
}

.confirmed{
    fill: #F8F380;
    stroke: #F1E800;
}

.ack{
    fill: #9CD8A2;
    stroke: #3AB146;
}

.cumulative-ack{
    fill: #80DFD2;
    stroke: #00BFA5;
}

.received{
    fill: #9CD8A2;
    stroke: #3AB146;
}

.damaged{
    fill: #AE9F9B;
    stroke: #5D4037;
}

.lost{
    fill: #FCB0B0;
    stroke: #F96060;
}

/* Timer styles */
#timer{
    stroke-dasharray: 189px;
    visibility: hidden;
    fill: transparent;
}

#timer .inner{
    stroke: #E78CF6;
    stroke-width: 20px;
}

#timer .outter{
    stroke: #CF1AED;
    stroke-width: 30px;
}

#timer.next-sequence .inner{
    stroke: #FDCB80;
}

#timer.next-sequence .outter{
    stroke: #FC9700;
}

/* Line connecting sender and receiver */
#track-line{
    stroke: #bdbdbd;
    stroke-width: 3px;
    stroke-dasharray: 15px;
}
